/* global */
*{
    font-size: 15px;
     
     font-weight: 500;
     
     }
     
     /* External CSS */
     
     h3{
     
     color: blue;
     
     }
     
     /* element selector */
     
     h4{
     
     color: palevioletred;
     
     }
     
     /* class selector */
     
     .myclass{
     
     color: rgb(63, 43, 19);
     
     }
     
     /* id selector */
     
     #myid{
     
     color: mediumpurple;
     
     }
     
     /* group selector */
     
     h5,p{
     
     color: maroon;
     
     }